/*styles for header panels*/
.huge {
    font-size: 100%;
    font-size: 2vw;
}

.panel-mpblue {
    border-color: #14A4FA;
}

.panel-mpblue .panel-heading {
    border-color: #14A4FA;
    color: #fff;
    background-color: #14A4FA;
}

.panel-mpblue a {
    color: #14A4FA;
}

.panel-mpblue a:hover {
    color: #0272B4;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-text{
    font-size: 90%;
    font-size: 1vw;
}
