/*styles for header panels*/
.huge {
    font-size: 100%;
    font-size: 2vw;
}

.panel-mpblue {
    border-color: #14A4FA;
}

.panel-mpblue .panel-heading {
    border-color: #14A4FA;
    color: #fff;
    background-color: #14A4FA;
}

.panel-mpblue a {
    color: #14A4FA;
}

.panel-mpblue a:hover {
    color: #0272B4;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-text{
    font-size: 90%;
    font-size: 1vw;
}
/*end header panels*/

/*hide legend on mpChart for style reasons*/
#dau-chart .mixpanel-platform-multi_selector, #mau-chart .mixpanel-platform-multi_selector, #avg-events-per-user-per-day-chart .mixpanel-platform-multi_selector {
    display: none;
}

.mixpanel-platform-chart_header{
    height: 75px;
    border-radius: 0px;
}
/*end hiding of legend*/

/*re-style selctor so that drop down options are't hidden*/
.mixpanel-platform-chart_header .mixpanel-platform-multi_selector .title, .mixpanel-platform-chart_header .mixpanel-platform-multi_selector .color_toggle_label .checkbox, .mixpanel-platform-chart_header .mixpanel-platform-multi_selector .color_circle {
    vertical-align: top;
}
.mixpanel-platform-chart_header .mixpanel-platform-multi_selector .color_circle {
    vertical-align: middle;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mixpanel-platform-chart_header .mixpanel-platform-multi_selector .color_toggle_label{
    background-color: #fff;
}

.mixpanel-platform-chart_header .mixpanel-platform-multi_selector.filled{
    background-color: #fff;
    box-shadow: inset 0 -1px #fff;
}
.mixpanel-platform-chart_header{
    background-color: #fff;
}
.mixpanel-platform-multi_selector {
    background-color: #fff;
}
.mixpanel-platform-chart_header .mixpanel-platform-multi_selector .color_toggle_label{
    box-shadow: inset 0 -1px #fff;
}
.mixpanel-platform-chart_header .mixpanel-platform-multi_selector .color_toggle_dropdown:not(:first-child) .color_toggle_label{
    box-shadow: inset 0 -1px #fff;
}
/*end of re-styling of chart dropdowns*/

#table-controls{
    height: 20px;
    width: 20px;
}
#selector-text{
    padding: 10px;

}
.legend-title {
    display:inline-block;
    width:160px;
    margin:1px 10px;
    padding:0 5px;
    text-overflow: ellipsis ellipsis;
}

#headers{
    margin: 20px 0px 10px 0px;

}